include README.rst
include CHANGES.rst
include LICENSE.rst
include setup.cfg
include tox.ini
include padova/data/settings/cmd_2_6.toml

recursive-include padova *.pyx *.c

recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *

exclude *.pyc *.o 
prune docs/_build
prune build

